<div id="layoutAuthentication" class="text-dark">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container mb-4">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-4">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">{{title}}</h3>
                            </div>
                            {{#if alertType}}
                            <div class="text-center alert alert-{{alertType}}" role="alert">
                                {{msg}}
                            </div>
                            {{#if status}}
                            <div class="text-center alert alert-{{alertType}}" role="alert">
                                {{status}}
                            </div>
                            {{/if}}
                            {{/if}}
                            <div class="card-body">
                                <form action="/api/create-update-performances" method="POST" class="row g-3">
                                    <input type="hidden" name="id" value="{{performance.id}}">
                                    <input type="hidden" name="method" value="{{method}}">
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Name</label>
                                        <input type="text" name="name" class="form-control" value="{{performance.name}}"
                                            required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Synopsis</label>
                                        <input type="text" name="synopsis" class="form-control"
                                            value="{{performance.synopsis}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Previews from</label>
                                        <input type="text" name="previewsFrom" class="form-control"
                                            value="{{performance.previewsFrom}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Opening date</label>
                                        <input type="text" name="openingDate" class="form-control"
                                            value="{{performance.openingDate}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Booking from</label>
                                        <input type="text" name="bookingFrom" class="form-control"
                                            value="{{performance.bookingFrom}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Avaible until</label>
                                        <input type="text" name="avaibleUntil" class="form-control"
                                            value="{{performance.avaibleUntil}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Run time</label>
                                        <input type="text" name="runTime" class="form-control"
                                            value="{{performance.runTime}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Rating</label>
                                        <input type="text" name="rating" class="form-control"
                                            value="{{performance.rating}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Review</label>
                                        <input type="text" name="review" class="form-control"
                                            value="{{performance.review}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Age rating</label>
                                        <input type="text" name="ageRating" class="form-control"
                                            value="{{performance.ageRating}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Age rating image url</label>
                                        <input type="text" name="ageRatingImageUrl" class="form-control"
                                            value="{{performance.ageRatingImageUrl}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Age advisory</label>
                                        <input type="text" name="ageAdvisory" class="form-control"
                                            value="{{performance.ageAdvisory}}" required>
                                    </div>
                                    <div class="col-12 modal-footer">
                                        <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>