<div id="layoutAuthentication" class="text-dark">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container mb-4">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-4">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">{{title}}</h3>
                            </div>
                            {{#if alertType}}
                            <div class="text-center alert alert-{{alertType}}" role="alert">
                                {{msg}}
                            </div>
                            {{#if status}}
                            <div class="text-center alert alert-{{alertType}}" role="alert">
                                {{status}}
                            </div>
                            {{/if}}
                            {{/if}}
                            <div class="card-body">
                                <form action="/api/create-update-theaters" method="POST" class="row g-3">
                                    <input type="hidden" name="_id" value="{{theater._id}}">
                                    <input type="hidden" name="method" value="{{method}}">
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Name</label>
                                        <input type="text" name="name" class="form-control" value="{{theater.name}}"
                                            required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Street</label>
                                        <input type="text" name="street" class="form-control" value="{{theater.street}}"
                                            required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">City</label>
                                        <input type="text" name="city" class="form-control" value="{{theater.city}}"
                                            required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">State</label>
                                        <input type="text" name="state" class="form-control" value="{{theater.state}}"
                                            required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Postcode</label>
                                        <input type="text" name="postcode" class="form-control"
                                            value="{{theater.postcode}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Latitude</label>
                                        <input type="text" name="latitude" class="form-control"
                                            value="{{theater.latitude}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Longitude</label>
                                        <input type="text" name="longitude" class="form-control"
                                            value="{{theater.longitude}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Offset</label>
                                        <input type="text" name="offset" class="form-control" value="{{theater.offset}}"
                                            required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Description</label>
                                        <input type="text" name="description" class="form-control"
                                            value="{{theater.description}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Phone</label>
                                        <input type="text" name="phone" class="form-control" value="{{theater.phone}}"
                                            required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Logo url</label>
                                        <input type="text" name="logoUrl" class="form-control"
                                            value="{{theater.logoUrl}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Seating plan name</label>
                                        <input type="text" name="seatingPlanName" class="form-control"
                                            value="{{theater.seatingPlanName}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Seating plan link</label>
                                        <input type="text" name="seatingPlanLink" class="form-control"
                                            value="{{theater.seatingPlanLink}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Nearest bus station</label>
                                        <input type="text" name="nearestBusStation" class="form-control"
                                            value="{{theater.nearestBusStation}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Capacity</label>
                                        <input type="text" name="capacity" class="form-control"
                                            value="{{theater.capacity}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Description title</label>
                                        <input type="text" name="descriptionTitle" class="form-control"
                                            value="{{theater.descriptionTitle}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Description</label>
                                        <input type="text" name="descriptions" class="form-control"
                                            value="{{theater.descriptions}}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Facilities</label>
                                        <input type="text" name="facilities" class="form-control"
                                            value="{{theater.facilities}}" required>
                                    </div>
                                    <div class="col-12 modal-footer">
                                        <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>