<style>
    .border-3 {
        border-width: 3px !important;
    }
</style>
<div class="container text-center mt-4 mb-4">
    <h2>Neo4j - homework II</h2>
    {{#if alertType}}
    <div class="alert alert-{{alertType}}" role="alert">
        {{msg}}
    </div>
    {{#if status}}
    <div class="alert alert-{{alertType}}" role="alert">
        {{status}}
    </div>
    {{/if}}
    {{/if}}
</div>
<div class="border-top border-bottom border-3">
    <div class="row">
        <div class="col-md-1 container mt-2 mb-2">
            <div class="container p-2 w-100">
                <a href="/api/login" class="btn btn-outline-secondary">Login</a>
            </div>
        </div>
        <div class="col-md-1 container mt-2 mb-2">
            <div class="container p-2 w-100">
                <a href="/api/register" class="btn btn-outline-secondary">Register</a>
            </div>
        </div>
        <div class="col-md-10 container mt-2 mb-2">
            <div class="mt-3"></div>
        </div>
    </div>

</div>
<div class="border-top border-bottom border-3">
    <div class="row">
        <div class="col-md-3 container mt-2 mb-2">
            <div class="container p-2 w-100">
                <a href="/api/delete-all-nodes" class="btn btn-outline-secondary">Delete all data from database</a>
            </div>
        </div>
        <div class="col-md-9 container mt-2 mb-2">
            <div class="mt-3">Delete all data from database... </div>
        </div>
    </div>
</div>
<div class="border-top border-bottom">
    <div class="container mt-2 mb-2">
        <h3>Users</h3>
        <div class="container p-2">
            <a href="/api/users" class="btn btn-outline-secondary">Show all users</a>
        </div>
    </div>
</div>
<span class="p-2"></span>
<div class="border-top border-bottom">
    <div class="container mt-2 mb-2">
        <h3>Theaters</h3>
        <div class="container p-2">
            <a href="/api/theaters" class="btn btn-outline-secondary">Show all theaters</a>
        </div>
    </div>
</div>
<span class="p-2"></span>
<div class="border-top border-bottom">
    <div class="container mt-2 mb-2">
        <h3>Performances</h3>
        <div class="container p-2">
            <a href="/api/performances" class="btn btn-outline-secondary">Show all performances</a>
        </div>
    </div>
</div>
<span class="p-2"></span>
<div id="accordion2" class="text-center disable mb-5">
    <div class="card">
        <div class="card-header" id="heading2">
            <h5 class="mb-0">
                <button class="btn btn-link show" data-toggle="collapse" data-target="#collapse2" aria-expanded="true"
                    aria-controls="collapse2">
                    Graph - whole database
                </button>
            </h5>
        </div>

        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion2">
            <div class="card-body">
                <div class="container-fluid text-center bg-light" id="viz">

                </div>
            </div>
        </div>
    </div>
</div>