<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>

<h1>Performances</h1>
<a href="/api/create-update-performances" class="btn btn-outline-secondary mb-2">Add new performance</a>
<div>Hover buttons for more details</div>


<div class="container text-dark bg-white rounded p-2 mb-3 mt-3">
    <table id="theaters" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Synopsis</th>
                <th>Previews from</th>
                <th>Opening date</th>
                <th>Booking from</th>
                <th>Avaible until</th>
                <th>Run time</th>
                <th>Rating</th>
                <th>Review</th>
                <th>Age rating</th>
                <th>Age rating image url</th>
                <th>Age advisory</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each performances}}
            <tr>
                <td>{{this.name}}</td>
                <td>
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                        title="{{this.synopsis}}">
                        synopsis
                    </button>
                </td>
                <td>
                    {{this.previewsFrom}}
                </td>
                <td>
                    {{this.openingDate}}
                </td>
                <td>
                    {{this.bookingFrom}}
                </td>
                <td>
                    {{this.avaibleUntil}}
                </td>
                <td>
                    {{this.runTime}}
                </td>
                <td>
                    {{this.rating}}
                </td>
                <td>
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                        title="{{this.review}}">
                        review
                    </button>
                </td>
                <td>
                    {{this.ageRating}}
                </td>
                <td>
                    {{this.ageRatingImageUrl}}
                </td>
                <td>
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                        title="{{this.ageAdvisory}}">
                        ageAdvisory
                    </button>
                </td>
                <td><a href="/api/performances/update/{{this.id}}" class="btn btn-outline-secondary">update</a>
                </td>
                <td><a href="/api/performances/delete/{{this.id}}" method="delete"
                        class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Synopsis</th>
                <th>Previews from</th>
                <th>Opening date</th>
                <th>Booking from</th>
                <th>Avaible until</th>
                <th>Run time</th>
                <th>Rating</th>
                <th>Review</th>
                <th>Age rating</th>
                <th>Age rating image url</th>
                <th>Age advisory</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>


<h4>Add category</h4>
<form action="/api/category" method="POST" class="row form-inline mt-3 mb-3">
    <div class="form-group mx-sm-3 mb-2">
        <input type="hidden" name="method" value="create">
        <label for="validationDefault03" class="form-label mr-2">Performance name</label>
        <input type="text" name="performance" class="form-control" value="Hamilton" required>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="validationDefault03" class="form-label mr-2">Category name</label>
        <input type="text" name="name" class="form-control" value="{{category.name}}" required>
    </div>
    <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
</form>

<h4>Add actor</h4>
<form action="/api/category" method="POST" class="row form-inline mt-3 mb-3">
    <div class="form-group mx-sm-3 mb-2">
        <input type="hidden" name="method" value="actor">
        <label for="validationDefault03" class="form-label mr-2">Performance name</label>
        <input type="text" name="performance" class="form-control" value="Hamilton" required>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="validationDefault03" class="form-label mr-4">Actor name</label>
        <input type="text" name="actor" class="form-control" value="BK2O198" required>
    </div>
    <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
</form>

<h4>Add director</h4>
<form action="/api/category" method="POST" class="row form-inline mt-3 mb-3">
    <div class="form-group mx-sm-3 mb-2">
        <input type="hidden" name="method" value="director">
        <label for="validationDefault03" class="form-label mr-2">Performance name</label>
        <input type="text" name="performance" class="form-control" value="Hamilton" required>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="validationDefault03" class="form-label mr-3">Director name</label>
        <input type="text" name="director" class="form-control" value="BK2O198" required>
    </div>
    <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
</form>

<h4>Add creator</h4>
<form action="/api/category" method="POST" class="row form-inline mt-3 mb-3">
    <div class="form-group mx-sm-3 mb-2">
        <input type="hidden" name="method" value="creator">
        <label for="validationDefault03" class="form-label mr-2">Performance name</label>
        <input type="text" name="performance" class="form-control" value="Hamilton" required>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="validationDefault03" class="form-label mr-3">Creator name</label>
        <input type="text" name="creator" class="form-control" value="BK2O198" required>
    </div>
    <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
</form>

<h4>Add producer</h4>
<form action="/api/category" method="POST" class="row form-inline mt-3 mb-3">
    <div class="form-group mx-sm-3 mb-2">
        <input type="hidden" name="method" value="producer">
        <label for="validationDefault03" class="form-label mr-2">Performance name</label>
        <input type="text" name="performance" class="form-control" value="Hamilton" required>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="validationDefault03" class="form-label mr-2">Producer name</label>
        <input type="text" name="producer" class="form-control" value="BK2O198" required>
    </div>
    <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
</form>