<div id="layoutAuthentication" class="text-dark">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container mb-4">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-4">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">{{title}}</h3>
                            </div>
                            {{#if alertType}}
                            <div class="text-center alert alert-{{alertType}}" role="alert">
                                {{msg}}
                            </div>
                            {{#if status}}
                            <div class="text-center alert alert-{{alertType}}" role="alert">
                                {{status}}
                            </div>
                            {{/if}}
                            {{/if}}
                            <div class="card-body">
                                <form action="/api/register" method="POST" class="row g-3">
                                    <input type="hidden" name="_id" value="{{user._id}}">
                                    <input type="hidden" name="api_key" value="{{user.api_key}}">
                                    <input type="hidden" name="method" value="{{method}}">
                                    <div class="col-md-12">
                                        <label for="validationDefault03" class="form-label">Username</label>
                                        <input type="text" name="username" class="form-control"
                                            value="{{user.username}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Password</label>
                                        <input type="text" name="password" class="form-control"
                                            value="{{user.password}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Title</label>
                                        <input type="text" name="title" class="form-control" value="{{user.title}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">First name</label>
                                        <input type="text" name="firstName" class="form-control"
                                            value="{{user.firstName}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Last name</label>
                                        <input type="text" name="lastName" class="form-control"
                                            value="{{user.lastName}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Nationality</label>
                                        <input type="text" name="nationality" class="form-control"
                                            value="{{user.nationality}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <div class="container-fluid">
                                            <label for="validationDefault03" class="form-label">Gender</label>
                                            <div class="col">
                                                <input type="radio" name="gender" value="male" checked> Male<br>
                                                <input type="radio" name="gender" value="female"> Female<br>
                                                <input type="radio" name="gender" value="other"> Other
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Email</label>
                                        <input type="text" name="email" class="form-control" value="{{user.email}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Street</label>
                                        <input type="text" name="street" class="form-control" value="{{user.street}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">City</label>
                                        <input type="text" name="city" class="form-control" value="{{user.city}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">State</label>
                                        <input type="text" name="state" class="form-control" value="{{user.state}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Postcode</label>
                                        <input type="text" name="postcode" class="form-control"
                                            value="{{user.postcode}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Latitude</label>
                                        <input type="text" name="latitude" class="form-control"
                                            value="{{user.latitude}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Longitude</label>
                                        <input type="text" name="longitude" class="form-control"
                                            value="{{user.longitude}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Offset</label>
                                        <input type="text" name="offset" class="form-control" value="{{user.offset}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Description</label>
                                        <input type="text" name="description" class="form-control"
                                            value="{{user.description}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Date of Birth</label>
                                        <input type="text" name="dateOfBirth_Date" class="form-control"
                                            value="{{user.dateOfBirth_Date}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Age</label>
                                        <input type="text" name="dateOfBirth_Age" class="form-control"
                                            value="{{user.dateOfBirth_Age}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Date of Registration</label>
                                        <input type="text" name="dateOfRegistration_Date" class="form-control"
                                            value="{{user.dateOfRegistration_Date}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Time registred</label>
                                        <input type="text" name="dateOfRegistration_Age" class="form-control"
                                            value="{{user.dateOfRegistration_Age}}" required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Large</label>
                                        <input type="text" name="large" class="form-control" value="{{user.large}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Medium</label>
                                        <input type="text" name="medium" class="form-control" value="{{user.medium}}"
                                            required>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault03" class="form-label">Thumbnail</label>
                                        <input type="text" name="thumbnail" class="form-control"
                                            value="{{user.thumbnail}}" required>
                                    </div>
                                    <div class="col-12 modal-footer">
                                        <button class="btn btn-primary mr-auto ml-auto" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="/api/login">Have an account? Go to login page</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>