<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>
<h1>Theaters</h1>
<a href="/api/create-update-theaters" class="btn btn-outline-secondary">Add new theater</a>
<div>Hover buttons for more details</div>



<div class="container text-dark bg-white rounded p-2">
    <table id="theaters" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Username</th>
                <th>Description title</th>
                <th>Descriptions</th>
                <th>Phone</th>
                <th>Logo url</th>
                <th>Nearest bus station</th>
                <th>Capacity</th>
                <th>Facilities</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Offset</th>
                <th>Description</th>
                <th>Seating plan name</th>
                <th>Seating plan link</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each theaters}}
            <tr>
                <td>{{this.name}}</td>
                <td>
                    {{this.descriptionTitle}}
                </td>
                <td>
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                        title="{{this.descriptions}}">
                        descriptions
                    </button>
                </td>
                <td>
                    {{this.phone}}
                </td>
                <td>
                    {{this.logoUrl}}
                </td>
                <td>
                    {{this.nearestBusStation}}
                </td>
                <td>
                    {{this.capacity}}
                </td>
                <td>
                    {{this.facilities}}
                </td>
                <td>
                    {{this.street}}
                </td>
                <td>
                    {{this.city}}
                </td>
                <td>
                    {{this.state}}
                </td>
                <td>
                    {{this.postcode}}
                </td>
                <td>
                    {{this.latitude}}
                </td>
                <td>
                    {{this.longitude}}
                </td>
                <td>
                    {{this.offset}}

                </td>
                <td>
                    {{this.description}}
                </td>
                <td>
                    {{this.seatingPlanName}}
                </td>
                <td>
                    {{this.seatingPlanLink}}
                </td>
                <td><a href="/api/theaters/update/{{this.id}}" class="btn btn-outline-secondary">update</a>
                </td>
                <td><a href="/api/theaters/delete/{{this.id}}" method="delete"
                        class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Username</th>
                <th>Description title</th>
                <th>Descriptions</th>
                <th>Phone</th>
                <th>Logo url</th>
                <th>Nearest bus station</th>
                <th>Capacity</th>
                <th>Facilities</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Offset</th>
                <th>Description</th>
                <th>Seating plan name</th>
                <th>Seating plan link</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>