<style>
    th,
    td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>

<h1>Users</h1>
<a href="/api/register" class="btn btn-outline-secondary">Register new user</a>

<div class="container text-dark bg-white rounded p-2 mt-2">
    <table id="users" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Username</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Nationality</th>
                <th>Title</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Adress latitude</th>
                <th>Adress longitude</th>
                <th>Timezone offset</th>
                <th>Timezone description</th>
                <th>Date of birth</th>
                <th>Age</th>
                <th>Date of registration</th>
                <th>Time registred</th>
                <th>Large picture</th>
                <th>Medium picture</th>
                <th>Thumbnail picture</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.username}}</td>
                <td>
                    {{this.gender}}
                </td>
                <td>
                    {{this.email}}
                </td>
                <td>
                    {{this.nationality}}
                </td>
                <td>
                    {{this.title}}
                </td>
                <td>
                    {{this.firstName}}
                </td>
                <td>
                    {{this.lastName}}
                </td>
                <td>
                    {{this.street}}
                </td>
                <td>
                    {{this.city}}
                </td>
                <td>
                    {{this.state}}
                </td>
                <td>
                    {{this.postcode}}
                </td>
                <td>
                    {{this.latitude}}
                </td>
                <td>
                    {{this.longitude}}
                </td>
                <td>
                    {{this.offset}}
                </td>
                <td>
                    {{this.description}}
                </td>
                <td>
                    {{this.dateOfBirth_Date}}
                </td>
                <td>
                    {{this.dateOfBirth_Age}}
                </td>
                <td>
                    {{this.dateOfRegistration_Date}}

                </td>
                <td>
                    {{this.dateOfRegistration_Age}}
                </td>
                <td>
                    {{this.large}}
                </td>
                <td>
                    {{this.medium}}
                </td>
                <td>
                    {{this.thumbnail}}
                </td>
                <td><a href="/api/users/update/{{this.id}}" class="btn btn-outline-secondary">update</a>
                </td>
                <td><a href="/api/users/delete/{{this.id}}" method="delete" class="btn btn-outline-secondary">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Username</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Nationality</th>
                <th>Title</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Postcode</th>
                <th>Adress latitude</th>
                <th>Adress longitude</th>
                <th>Timezone offset</th>
                <th>Timezone description</th>
                <th>Date of birth</th>
                <th>Age</th>
                <th>Date of registration</th>
                <th>Time registred</th>
                <th>Large picture</th>
                <th>Medium picture</th>
                <th>Thumbnail picture</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>